 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .main-container {
     width: 100vw;
     height: 100%;
 }


 .header {
     text-align: center;
     padding: 78px;
 }

 .template,
 button {
     margin-top: 20px;
 }

 button{
    height: 31px;
    width: 142px;
 }




 .container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .box1 img {
     width: 100%;
     display: block;
    
 }